<div class="col-xl-6 col-md-12 box-col-6">
    <div class="card">
      <div class="card-header pb-0">
        <h5>EMAIL GRAPH</h5>
      </div>
      <div class="card-body chart-block">
        <div style="margin-left: 13.5rem;" class="mt-3">
          <%- include('../../partials/loader-spinner', {height}) %>
        </div>
        <canvas id="emailGraph" data-email-data="<%= JSON.stringify(sevenDaysEmail) %>"></canvas>
      </div>
    </div>
</div>