<div class="page-body">
    <% include ../partials/nav.ejs %>
    <div class="container-fluid general-widget">
      <div class="row">
        
        <% include ./analytics-partials/activeUsers.ejs %>
      
      </div>
    </div>
  </div>
<script src="js/analytics.js"></script>