<div class="page-body">
  <%- include('../partials/nav') %>
  <div class="container-fluid general-widget">
    <div class="mt-2 mb-2"><%- include('../partials/messages') %></div>
    <div class="row">
      
      <%- include('./home-partials/totalUsers') %>
      
    </div>
  </div>
</div>