<!DOCTYPE html>
	<!DOCTYPE html>
	<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
		<meta name="description" content="iwi -  CMS Panel" />
		<meta name="author" content="iwi ekbana Private Limited" />
		<meta name="keywords"
			  content="myplace,iwi,admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design" />
		<meta name="google" content="notranslate">
		<link rel="icon" href="/backend/assets/img/template/icons&logo/logo-mini.svg" type="image/x-icon" />
		<title><%= cmsTitle %></title>
		<link href="/backend/assets/css/style.css" rel="stylesheet" />
		<link href="/backend/assets/css/colors/default.css" rel="stylesheet" />
		<link href="/backend/assets/css/template.css" rel="stylesheet" />
			<!-- Icons css-->
		<link href="/backend/assets/plugins/web-fonts/icons.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
		<link href="/backend/assets/plugins/web-fonts/plugin.css" rel="stylesheet" />

		<style>
		.page__not__found h5 strong {
          font-size: 200px;
          font-weight: 900;
          line-height: 140px;
          margin-top: 60px;
          display: flex;
          justify-content: center;
          align-items: baseline;
	  }
	 	@media (max-width: 767px) {
		.page__not__found strong {
				font-size: 100px;
				margin-top: 0;
			}
    	}
		</style>
	</head>

<body class="main-body leftmenu">
	<div id="global-loader">
		<img src="/backend/assets/img/loader.svg" class="loader-img" alt="Loader">
	</div>
	<div class="page">

		<!-- Main Content-->
		<div class="">

			<div class="container-fluid">
				<div class="inner-body">

					<!-- Page Header -->
					<div class="page-header">

                    </div>
					<!-- End Page Header -->
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page__not__found text-center">
                                    <form method="post">
										<h1>You dont have permission to view this page.</h1>
                                        <!-- <h5><strong>4<i class="fa fa-frown-o text-primary"></i>3</strong></h5> -->
                                        <a href="/home" class="btn btn-primary my-2 btn-icon-text"><span>Go to home</span></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- End Main Content-->
	</div>
	<script src="/backend/assets/plugins/jquery/jquery.min.js"></script>
	<script src="/backend/assets/js/custom.js"></script>
</body>

</html>