<% if(typeof height === 'undefined'){ height = 2} %>
<div class="col-sm-6 col-md-3 spinnerLoader" id="<%= typeof spinnerLoader !== 'undefined' ? spinnerLoader : ""%>"  style="height: <%= height %>rem;">
    <div class="loader-box">
      <div class="loader-1"></div>
    </div>
</div>