<div class="page-body">
    <% include ../partials/nav.ejs %>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="mt-2 mb-2"><% include ../partials/messages %></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form action="/app-users/reset-password/<%= _id %>?_method=PUT" method="post" class="theme-form mega-form" >
                        <% include ./includes/reset-password-form %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
